
.whole{
    background: rgb(22,138,207);
    background: linear-gradient(0deg, rgba(22,138,207,1) 0%, rgba(9,121,87,1) 77%);
    min-height: 100vh;
    min-width: 100vw;
  }
  .combine{
    display: flex;
    width:80%;
    margin: auto;
    justify-content: space-around;
  }
  .image1{
    width :50%;
    max-width: 500px;
  }
  .image{
    object-fit: cover;
    height: 100%;
    width:100%
  }
  .combine1{
    padding-left: 50px;
  }
  .header1{
    justify-content: center;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
  }
  .header1:hover{
    color: blue;
  }
  h1{
    text-align: center;
    padding-right: 550px;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
  }
  .Breakfast{
    padding-top: 20px;
    color: blue;
  }
  .lunch{
    padding-top: 20px;
    color: blue;
  }
  .dinner{
    padding-top: 20px;
    color: blue;
  }
  .exercise1{
    padding-top: 20px;
    color: blue;
  }
  .HEADER2{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .normal{
    padding-top: 30px;
    font-size: 45px;
    font-weight: bold;
  }
  .diete{
    font-size: 30px;
    font-weight: bold;
  }
  .one{
    display: flex;
    width: 80%;
  
    justify-content: space-around;
  
  }
  .bg-light{
      width: 100%;
      height: 10vh;
      background-color: blue;
      opacity: 80%;
      margin: 0;
  }
  
  .navbar-brand{
      color: white;
  }
  
  #input{
      width: 10vw;
  }
  
  .Breakfast1{
    color: blue;
  }
  .lunch1{
    color: blue;
  }
  .dinner1{
    color: blue;
  }
  .exercisee{
    color: blue;
  }
  .normal{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .diete{
    font-style: italic;
  }
  .pictures{
    width :50%;
    max-width: 500px;
    padding-left: 100px;
  }
  .img{
    object-fit: cover;
    height: 100%;
    width:100%
  }
  .one{
    display: flex;
    width:70%;
    margin: auto;
  }
  .two{
    display: flex;
    justify-content: space-around;
  }
  .Over{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .div{
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
  }
  .picture1{
    width :50%;
    max-width: 500px;
  
  }
  .ball{
    object-fit: cover;
    height: 100%;
    width:100%
  }
  .two{
    display: flex;
    width:80%;
    margin: auto;
  }
  .three{
    display: flex;
    width:80%;
    margin: auto;
    justify-content: space-around;
  }
  
  .tools{
    width :50%;
    max-width: 500px;
    padding-left: 100px;
  }
  .tool{
    object-fit: cover;
    height: 100%;
    width:100%
  }
  .obese{
    text-align: center;
    justify-content: center;
    font-size: 45px;
    font-weight: bold;
    padding-top: 30px;
  }
  .total{
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .Breakfastt{
    color: blue;
  }
  .lunchh{
    color: blue;
  }
  .dinnerr{
    color: blue;
  }
  .exercisess{
    color: blue;
  }
  .lightbreakfast{
    color: blue;
  }
  .lightlunch{
    color: blue;
  }
  .lightdinner{
    color: blue;
  }
  .alot{
    color: blue;
  }
  .snack{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
  }
  
  .photo{
    padding-top: 90px;
    padding-bottom: 30px;
  }
  .navbar ul>li{
    display: flex;
    justify-content: space-evenly;
    font-size: 4em;
    
  }
  .navbar{
    font-size: 1.2em;
    height: 10vh;
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(120deg,#EAEDF5, #3A6FF5);
  }
  
  .navbar ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    color: white;
    width: 100%;
  }
  .navbar ul li{
    margin-left: 2em;
  }
  .navbar ul li a{
    font-weight: 400;
    text-decoration: none;
    color: white;
  }
  .navbar ul li a:hover{
    color: red;
  }
  
  .logo p{
    background-image: linear-gradient(140deg, #628DFD,  #62FD71);
    font-weight: 800;
    text-align: center;
    display: flex;
    align-items: center;
    height: 10.5vh;
    width: 12vw;
    color: blue;
    font-style: italic;
    }
  
    .ml-auto{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  .whole{
    align-items: center;
  }
  
  .everything{
    align-items: center;
  }
  
  .bg-light{
      height: 8vh;
  
      /* margin-left: 10%; */
  }
  .container-fluid{
    background-color: rgba(128, 241, 180, 1);
    width: 90%;
  }
  
  
  
  /* #type{
      margin-left: 2%;
      background-color: tomato;
      color: teal;
  } */
  