

.topnav {
    background-image: linear-gradient(120deg,#EAEDF5, #3A6FF5);
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .na{
  
    }
     .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
     .topnav a:hover {
      background-color: rgb(221, 221, 221);
      color: black;
    }
  .home1{
   
    background-image: url(/Static/IMAGES/back3.jpg);
    background-repeat: no-repeat;
    /* background-position: contain; */
    background-size: cover;
    height: 1600px;
    
    justify-content: center;
    color: antiquewhite;
   background-color: rgb(108, 108, 184);
   }
   .home1 h3{
  color:darkblue;
   margin-right: 20%;
   }
   .home1 p{
  
    margin-right: 20%;
    }
    #tag{
      margin-left: 15%;
    }
  body{
    color: white;
    background-color: rgb(63, 63, 153);
    align-items: center;
    justify-content: center;
  }
  h2{
  margin-right: 40%;
  /* margin: em; */
  padding: 6em;
  justify-content: center;
  align-items: center;
  }
  
  .bg-light{
    width: 100%;
    height: 8vh;
    background-image: linear-gradient(120deg,#eaedf5, #3a6ff5);
    /* margin-left: 10%; */
  }
  
  .logo p{
    background-image: linear-gradient(140deg, #628DFD,  #62FD71);
    font-weight: 800;
    text-align: center;
    display: flex;
    align-items: center;
    height: 10.5vh;
    width: 12vw;
    color: blue;
    font-style: italic;
  }
  .bg-light{
    background-image: linear-gradient(120deg,#EAEDF5, #3A6FF5);
  }
  html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  h3{
      margin-right: 20%;
      font-weight: 700;
      font-size: 30px;
  }
  .about{
  margin-left: 30px;
  }
  .about{
    color: whitesmoke;
  padding-top: 4em;
  margin-left: 15%;
  margin-right: 20%;
  }
  .about h2{
    margin-left: 15%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
  }
  .home1 p{
      font-weight: 700;
font-size: 20px;
  }
  .home1{
      font-style: normal;
      font-family: sans-serif;
      font-weight: 700;
      font-size: 30px;
  }