
.whole{
  background: rgb(22,138,207);
  background: linear-gradient(0deg, rgba(22,138,207,1) 0%, rgba(9,121,87,1) 77%);
  min-height: 100vh;
  min-width: 100vw;
}
.combine{
  display: flex;
  width:80%;
  margin: auto;
}
.image1{
  width :50%;
  max-width: 500px;
}
.image{
  object-fit: cover;
  height: 100%;
  width:100%
}
.combine1{
  padding-left: 50px;
}
.header1{
  justify-content: center;
}
h1{
  text-align: center;
  padding-right: 550px;
  font-style: italic;
}
.Breakfast{
  padding-top: 20px;
  color: blue;
}
.lunch{
  padding-top: 20px;
  color: blue;
}
.dinner{
  padding-top: 20px;
  color: blue;
}
.exercise1{
  padding-top: 20px;
  color: blue;
}
.HEADER2{
  text-align: center;
  padding-right: 550px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
.normal{
  padding-top: 30px;
  font-size: 20px;
  font-weight: bold;
}
.diete{
  font-size: 30px;
}
.one{
  display: flex;

}
.bg-light{
    width: 100%;
    height: 10vh;
    background-color: blue;
    opacity: 80%;
    margin: 0;
}

.navbar-brand{
    color: white;
}

#input{
    width: 10vw;
}

.Breakfast1{
  color: blue;
}
.lunch1{
  color: blue;
}
.dinner1{
  color: blue;
}
.exercisee{
  color: blue;
}
.normal{
  text-align: center;
  padding-right: 550px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
.diete{
  text-align: center;
  padding-bottom: 50px;
  font-style: italic;
}
.pictures{
  width :50%;
  max-width: 500px;
  padding-left: 100px;
}
.img{
  object-fit: cover;
  height: 100%;
  width:100%
}
.one{
  display: flex;
  width:80%;
  margin: auto;
}
.two{
  display: flex;
}
.Over{
  text-align: center;
  padding-right: 550px;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
.div{
  text-align: center;
  padding-left: 550px;
  font-style: italic;
  font-size: 50px;
  font-weight: bold;
}
.picture1{
  width :50%;
  max-width: 500px;
  padding-left: 100px;
}
.ball{
  object-fit: cover;
  height: 100%;
  width:100%
}
.two{
  display: flex;
  width:80%;
  margin: auto;
}
.three{
  display: flex;
  width:80%;
  margin: auto;
}
}
.tools{
  width :50%;
  max-width: 500px;
  padding-left: 100px;
}
.tool{
  object-fit: cover;
  height: 100%;
  width:100%
}
.obese{
  text-align: center;
  padding-left: 550px;
  font-style: italic;
  font-size: 30px;
  font-weight: bold;
}
.total{
  
}

.bg-light{
    width: 100%;
    height: 8vh;
    background-image: linear-gradient(120deg,#EAEDF5, #3A6FF5);
    /* margin-left: 10%; */
}



/* #type{
    margin-left: 2%;
    background-color: tomato;
    color: teal;
} */
